version: "3.8"

services:
  backend:
    build:
      context: .
      # Correct the path to your Dockerfile
      dockerfile: Dockerfile
    command: sh -c "go run main.go migrate && go run main.go initdata && air -c .air.toml serve"
    ports:
      - 5000:5000
    # Important to bind/mount your codebase dir to /app dir for live reload
    volumes:
      - ./:/app
    depends_on:
      - db
      - redis

  db:
    image: postgres:15.2-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=db
    expose:
      - 5432
    volumes:
      - app-postgres-data:/var/lib/postgresql/data/
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    expose:
      - 6579
    volumes:
      - app-redis-data:/data
    restart: unless-stopped

  # redisinsight:
  #   image: redislabs/redisinsight:1.13.1
  #   ports:
  #     - 8001:8001
  #   volumes:
  #     - app-redisinsight-data:/db
  #   depends_on:
  #     - redis

  # redis:
  #   image: redis/redis-stack:7.0.0-RC4
  #   expose:
  #     - 6379
  #   volumes:
  #     - app-redis-data:/data
  #   ports:
  #     - 8001:8001
  #   restart: unless-stopped

  # pgadmin:
  #   image: dpage/pgadmin4
  #   depends_on:
  #     - db
  #   expose:
  #     - 5050
  #   ports:
  #     - 5050:5050
  #   environment:
  #     - PGADMIN_LISTEN_PORT=5050
  #     - PGADMIN_DEFAULT_EMAIL=admin@gmail.com
  #     - PGADMIN_DEFAULT_PASSWORD=admin
  #   volumes:
  #     - app-pgadmin-data:/var/lib/pgadmin
  #   restart: unless-stopped

volumes:
  app-postgres-data:
  app-redisinsight-data:
  app-redis-data: 
  # app-pgadmin-data:
