version: "3.8"

services:
  postgres:
    image: postgres:15.2-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=db
    volumes:
      - app_postgres_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    restart: always

volumes:
  app_postgres_data:
