name: ESLint

on:
  push:
    tags:
      - v*
    branches:
      - master
      - develop
  pull_request:

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install modules
        working-directory: frontend
        run: yarn
      - name: Run eslint
        working-directory: frontend
        run: yarn lint:check
